In [1]:
import pandas as pd

In [2]:
data = {
    'Roll No': [1, 1, 2, 2, 1, 2],
    'Subject': ['DS', 'Java', 'DS', 'Java', 'DS', 'Java'],
    'Marks': [25, 40, 30, 26, 40, 50],
    'Date': ['01-01-23', '02-01-23', '01-01-23', '02-01-23', '15-01-23', '15-01-23']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%y')

In [5]:
output_data = []

In [6]:
for roll_no, subject in df.groupby(['Roll No', 'Subject']):
    roll_no, subject = roll_no
    subject_data = df[(df['Roll No'] == roll_no) & (df['Subject'] == subject)]

    # Sort the subject_data by Date in descending order
    subject_data = subject_data.sort_values(by='Date', ascending=False)

    m1 = m2 = m3 = 0

    # Get the marks for the latest three attempts
    if len(subject_data) >= 1:
        m1 = subject_data.iloc[0]['Marks']
    if len(subject_data) >= 2:
        m2 = subject_data.iloc[1]['Marks']
    if len(subject_data) >= 3:
        m3 = subject_data.iloc[2]['Marks']

    output_data.append([roll_no, subject, m1, m2, m3, subject_data.iloc[0]['Date']])

In [7]:
output_columns = ['Roll No', 'Subject', 'M1', 'M2', 'M3', 'Date']

In [8]:
output_df = pd.DataFrame(output_data, columns=output_columns)

In [9]:
output_df['Date'] = output_df['Date'].dt.strftime('%d-%m-%Y')

In [10]:
output_df

   Roll No Subject  M1  M2  M3        Date
0        1      DS  40  25   0  15-01-2023
1        1    Java  40   0   0  02-01-2023
2        2      DS  30   0   0  01-01-2023
3        2    Java  50  26   0  15-01-2023